<div class="jumbotron container">
  <div class="container">
    <h1 class="display-3">Documents</h1><br>
    <p class="lead">
      <% @gif.each do |gif| %>
      <tr>
         <%=image_tag("icondoc.png")%>
         <%= link_to gif.url, gif_path(gif), class: "card-product " %><br>


      </tr>
    <% end %>
      <br><br>
<%= link_to "All gifs", gifs_path, class:"text-right pull-xs-right" %>

    </p>
  </div>
</div>


