<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
      <div class="card-columns">
  <div class="card-decky">
      <% @gif.each do |gif| %>


            <div class="card">
              <%= image_tag gif.url, class:"card-img-top ", alt:"Card image cap" %>

            </div>

    <% end %>
      <br><br>
<%= link_to "category", gifs_path, class:"text-right pull-xs-right" %>

    </p>
     </div>
  </div>
</div>
</div>
</div>



