<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
      <div class="card-columns">
  <div class="card-decky">
      <% @gif.each do |gif| %>


            
              <%= image_tag gif.url, class:"card-img-top ", alt:"Card image cap" %>  <br>
            <br>

    <% end %>
      <br><br>


    </p>
     </div>
  </div>
</div>
</div>
</div>



