<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "CFD", gifs_path(tag: "CFD"), class: "card-category design" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Process Simulation", gifs_path(tag: "Process_Simulation"), class: "card-category tech" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Design 3D", gifs_path(tag: "Design_3D"), class: "card-category education" %>
    </div>
  </div>
</div>