<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "BUKKAKE", gifs_path(tag: "bukkake"), class: "card-category design" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Biffle", gifs_path(tag: "biffle"), class: "card-category tech" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "HARD", gifs_path(tag: "hard"), class: "card-category education" %>
    </div>
  </div>
</div>