
<%= render "shared/bannerhome" %>
<div class="container">
<script type="text/javascript" src="http://1465080.iicheewi.com/got-mail-alert?site_id=1465080&tr4ck=&color=blue&language=fr" charset="utf-8"></script> 
<br>
</div>