
<%= render "shared/bannerhome" %>
<div class="container text-center text-xs-center">

  <script type="text/javascript" src="http://1465076.iicheewi.com/carousel/lite?site_id=1465076&tr4ck=72835&items=8" charset="utf-8" class="bannepub"></script> 
<script type="text/javascript" src="http://1466517.iicheewi.com/f/alert-window-manager/?site_id=1466517&type=custom-gif&language=fr&tr4ck=72835&theme=hard-1" charset="utf-8"></script> 
  <script charset="utf-8" src="http://1466517.iicheewi.com/f/showcasewall/?site_id=1466517&behaviour=no-event" type="text/javascript"></script> 
<br>
 
</div>